body{
	background-color: maroon;
	color: white;
}
@media (max-width: 320px){ /*For the i phone*/
	body{
		background-color: red;
	}
}


@media (min-width:1024px){ /*For the i pad*/
 	body{
 		background-color: green;
 	}

 }
